{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/bottom.css') }}">
{% endblock %}

{% block body %}
    <div id="footer">
        <img src="{{ asset('assets/pictures/rougeBdx.jpeg') }}">
    </div>
{% endblock %}