body{
    background-color: #F5F5F5;
}

#text{
    text-align: center;
    margin-top: 5%;
}

.form{
    position: absolute;
    margin-top: 10%;
    margin-left: 8%;
}

.formWithIngredients{
    position: absolute;
    margin-top: 10%;
    margin-left: 75%;
}